<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stocksportfoliomanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".delivery.ConfirmDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".delivery.ViewOrderListActivity"
            android:exported="false" />
        <activity
            android:name=".delivery.DeliveryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UserPasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".admin.BugReviewActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DeveloperFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".supplier.ViewDiscountsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.CheckRequiredStockActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.UpdateUserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.DeleteDiscountsDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.UpdateDiscountsDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.AddDiscountsDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.DeleteSupplyDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.UpdateSupplyDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.SaveSupplyDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".supplier.CheckSupplyDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admin.ViewSupplierDataActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdministrationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UserRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".supplier.SupplierManagementActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".stocks.UpdateStockActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.DeleteStockActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.DeleteTransactionsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transactions.SaveTransactionsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transactions.UpdateTransactionsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transactions.ViewTransactionsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transactions.FinancialManagementActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".stocks.ViewStockHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.AddStockActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.StockManagementActivity"
            android:exported="false" />
        <activity
            android:name=".startup.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".startup.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".startup.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".startup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".startup.GetStaredActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>